<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Index</title>
    <style>
        .center_1 {
            margin: auto;
            width: fit-content;
            padding: 10px;
        }
        .center_2{
            margin: auto;
            width: 100px;
            display:block;
        }
    </style>
</head>

<body>
    <p>
        <h1 style="text-align: center; font-size:150%;">
            <span style="border: 5px double #DCDCDC; padding: 0.4em;">
                근무 구역을 입력해주세요.
            </h1>
        </span>
    </p>
    
    <div class="center_1">
        <p>
            <h2>
                <input
                id="area-name-input"
                type="text"
                size="30"
                ><br>
            </h2>
        </p>    
    </div>

    <div style="text-align: center;;">
        <p>
            <h3>
                <input
                id="area-name-submit"
                type="button"
                value=" 입 력 ">
            </h3>
        </p>
    </div>


    <script>
        document.querySelector('#area-name-input').focus();
        document.querySelector('#area-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#area-name-submit').click();
            }
        };

        document.querySelector('#area-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#area-name-input').value;
            window.location.pathname = '/notification/' + roomName + '/';
        };
    </script>
</body>

</html>